rules_version = '2';
service cloud.firestore {
  function isSignedIn() {
    return request.auth != null;
  }

  // 制限をしたら、クエリのほうでもその制約を意識する必要がある。 https://firebase.google.com/docs/firestore/security/rules-query?hl=ja
  function isOwner(rsc) {
    // データ作成した本人であることを確認
    return isSignedIn() && request.auth.uid == rsc.data.uid;
  }
  match /databases/{database}/documents {
    match /items/{document=**} {
      allow read, create, update: if isSignedIn();
      // allow create: if isSignedIn();
      // allow update: if isSignedIn();
      // resouce 変数には変更前の要求されたドキュメントが格納される https://firebase.google.com/docs/firestore/security/rules-conditions?hl=ja
      // allow update: if isOwner(resource);
    }
  }
}
