header {
  padding: 10px 20px;
  background-color: white;
  box-shadow: 1px 1px 10px;
}

header > a {
  padding: 0 20px;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

button {
  background: #3fc1c9;
  margin: 5px;
  border-style: none;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  transition: opacity 0.15s;
  cursor: pointer;
  letter-spacing: 1px;
}

button:hover {
  opacity: 0.75;
}
