.burndown-layout {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: minmax(100px, auto);
}

.chart-area {
  background-color: white;
  box-shadow: 1px 1px 10px;
  padding: 10px;
  margin: 10px;
  grid-row: 1 / 4;
}

.sprint-area {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 10px;
  padding: 10px;
  margin: 10px;
  height: 180px;
  grid-row: 4;
}
