.task-board {
  position: absolute;
  box-sizing: border-box;
  padding: 50px 25px;
  height: 100%;
  width: 100%;
  z-index: -1;
  white-space: nowrap;
  background-color: white;
  overflow-x: auto;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.draggable-yellow {
  position: inline-block;
  border: 1px solid gray;
  letter-spacing: 1px;
  display: inline-block;
  width: 120px;
  height: 100px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #fff7d1;
  padding: 10px 10px 30px;
}

.draggable-green {
  position: inline-block;
  border: 1px solid gray;
  letter-spacing: 1px;
  display: inline-block;
  width: 120px;
  height: 100px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #e4f9e0;
  padding: 10px 10px 30px;
}

.draggable-blue {
  position: inline-block;
  border: 1px solid gray;
  letter-spacing: 1px;
  display: inline-block;
  width: 120px;
  height: 100px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #e2f1ff;
  padding: 10px 10px 30px;
}

.draggable-gray {
  position: inline-block;
  border: 1px solid gray;
  letter-spacing: 1px;
  display: inline-block;
  width: 120px;
  height: 100px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #f3f2f1;
  padding: 10px 10px 30px;
}

.point-area {
  font-weight: bold;
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 10px;
  letter-spacing: 1px;
}

.point-area::after {
  content: 'pt';
}

.check-icon {
  color: red;
  font-size: large;
}

.borad-controller {
  display: flex;
  position: fixed;
  right: 50px;
  top: 80px;
  width: auto;
  height: auto;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid grey;
  background: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.controller-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.controller-item::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.controller-item:hover::after {
  transform: scale(1, 1);
}
