.app-task-table {
  height: 42vw;
  overflow-y: scroll;
  white-space: nowrap;
}

.app-table-row {
  display: table;
  width: 100%;
  height: 2.8vw;
}

.cell {
  display: table-cell;
  width: 30%;
  text-align: center;
}

input {
  width: 90%;
  text-align: left;
}
