.app-task-table {
  height: 80vh;
}

.app-table-header {
  display: table;
  width: 100%;
  height: 5%;
  border-bottom: 1px solid gray;
}

.app-table-body {
  height: 90%;
  overflow-y: scroll;
  white-space: nowrap;
}

.app-table-row {
  display: table;
  width: 100%;
  height: 2.8vw;
  border-bottom: 1px solid gray;
}

.app-table-footer {
  width: 100%;
  height: 5%;
}

.cell {
  padding: 0 0 0 10px;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 25%;
  text-align: center;
}

.task-cell {
  display: flex;
  vertical-align: middle;
  height: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.task-name-cell {
  display: flex;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.task-point-cell {
  display: flex;
  vertical-align: middle;
  height: 100%;
  width: 20%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* input {
  width: 90%;
  text-align: left;
} */

input {
  display: block;
  width: 100%;
  padding: 4px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  margin: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 4px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  margin: 10px;
}
