.velocity-layout {
  background-color: white;
  box-shadow: 1px 1px 10px;
  padding: 10px;
  margin: 10px 10px;
}

.app-task-table {
  height: 80vh;
}

.app-table-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  border-bottom: 1px solid gray;
}

.app-table-body {
  height: 90%;
  overflow-y: scroll;
  white-space: nowrap;
}

.app-table-row {
  /* display: table; */
  width: 100%;
  height: 2.8vw;
  border-bottom: 1px solid gray;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.app-table-footer {
  width: 100%;
  height: 5%;
}

.cell {
  height: 100%;
}

input {
  width: 90%;
  text-align: left;
}
